/* Colores personalizados */
.bg-orange {
  background-color: #FF5733 !important;
}

.bg-dark-blue {
  background-color: #001F3F !important;
}

.bg-custom-gray {
  background-color: #F4F7F9 !important;
}

.btn-orange {
  background-color: #FF5733;
  color: white;
  border: none;
  font-weight: bold;
}

.btn-orange:hover {
  background-color: #E64A19;
  color: white;
}

.text-dark-blue {
  color: #001F3F;
}