/* Colores personalizados - Optimizados */
.bg-orange {
  background-color: #FF5733 !important;
}

.bg-dark-blue {
  background-color: #001F3F !important;
}

.bg-custom-gray {
  background-color: #F4F7F9 !important;
}

.btn-orange {
  background-color: #FF5733 !important;
  color: white !important;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: #E64A19 !important;
  color: white !important;
  transform: translateY(-2px);
}

.text-dark-blue {
  color: #001F3F !important;
}